$bg-base: #333;
$bg-main: #fefefe;
$bg-accent: #c4a3bf;
$bg-black: #1C232B;
$bg-grey: #4E4E4E;
$bg-base-opa50: rgba(51, 51, 51, 0.5);
$bg-white-opa70: rgba(255, 255, 255, 0.7);
$bg-white-opa50: rgba(255, 255, 255, 0.5);
$border-base: #333;
$border-main: #fefefe;
$border-accent: #c4a3bf;
$font-color-base: #333;
$font-color-white: #fefefe;
$font-color-accent: #c4a3bf;
$font-family-jp: "Noto Sans JP";
$font-family-en: "Roboto";